:root {
	--color-text:rgb(75, 24, 0);
    --color-pink:#FF69B4;
    --color-yellow:#FFD700;
    --background-color:hsl(34, 54%, 97%);
    --color-blue:#7195e6;
    --color-light-green:#d7cc65;
    --color-dark-green:#798b29;
    --color-purple:#9a5ef6;
    --color-orange:#fc8155;
    --color-lilac:#ebdbff;
    --color-mint:#e5f6e7;
    --color-baby-blue:#dbe8ff;

    /* DARK MODE */
    /* --color-body-background:#211f1c;
    --color-peach:#fcdabe;
    --color-darkmode-pink:#91508b;
    --color-darkmode-blue:#5c76a1;
    --color-darkmode-yellow:#d8791a;
    --color-darkmode-baby-blue:#222f40; */
}

@media (prefers-color-scheme:dark) {
    :root {
        --color-text:#fcdabe;
        --color-pink:#91508b;
        --color-yellow:#877a30;
        --background-color:#211f1c;
        --color-blue:#5c76a1;
        --color-light-green:#605a32;
        --color-dark-green:#526600;
        --color-purple:#92518c;
        --color-orange:#92381d;
        --color-lilac:#692ec6;
        --color-mint:#4e5b4d;
        --color-baby-blue:#222f40;
    }
}
