@font-face {
  font-family:'typewriter_regular';
  src:url('../font/typewriter_regular.woff2') format('woff2');
  font-weight:400;
}

@font-face {
  font-family:'typewriter_italic';
  src:url('../font/typewriter_italic.woff2') format('woff2');
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:'typewriter_bold';
  src:url('../font/typewriter_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family:'tt_commons_regular';
  src:url('../font/TT_Commons_Classic_Regular.woff2') format('woff2');
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:'tt_commons_bold';
  src: url('../font/TT_Commons_Classic_Bold.woff2') format('woff2');
  font-weight:700;
  font-style:bold;
}

